

.border {
    border: 1px solid #dee2e6;
  }
  
  .border-thick {
    border-width: 3px;
  }

  .reveal .slide-logo {
    height: 65px !important;
    width: 180px !important;
    max-width: unset !important;
    max-height: unset !important;
  }

  .icon-demographics {
    color: #005EB8    ;
    font-size: 3.25em;
    margin-right: 12px;
  }
  
  .icon-life-expectancy {
    color: #003087;
    font-size: 3.25em;
    margin-right: 12px;
  }
  
  .icon-education {
    color: #330072;
    font-size: 3.25em;
    margin-right: 12px;
  }
  
  .icon-household {
    color: #AE2573; 
    font-size: 3.25em;
    margin-right: 12px;
  }
  
  .icon-dumbell {
    color: #78BE20; 
    font-size: 3.25em;
    margin-right: 12px;
  }
  
  .icon-smoking {
    color: #ED8B00;
    font-size: 3.25em;
    margin-right: 12px;
  }

  .icon-map {
    color: #005EB8;
    font-size: 2em;
    margin-right: 15px;
  }
  
  .icon-break {
    color: #003087; 
    font-size: 2em;
    margin-right: 15px;
  }
  
  .icon-calendar {
    color: #330072; 
    font-size: 2em;
    margin-right: 15px;
  }
  
  .icon-clock {
    color: #AE2573;
    font-size: 2em;
    margin-right: 15px;
  }

  .reveal .no-title h2 {
    display: none;
  }
  
